// Code generated by Fern. DO NOT EDIT.

package uploads

import (
	context "context"
	http "net/http"

	kard "github.com/KardFinancial/kard-go-sdk/v14"
	core "github.com/KardFinancial/kard-go-sdk/v14/core"
	internal "github.com/KardFinancial/kard-go-sdk/v14/internal"
	option "github.com/KardFinancial/kard-go-sdk/v14/option"
	users "github.com/KardFinancial/kard-go-sdk/v14/users"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) Create(
	ctx context.Context,
	organizationId kard.OrganizationId,
	// The ID of the user as defined on the issuers system
	userId string,
	request *users.CreateUploadRequestObject,
	opts ...option.RequestOption,
) (*core.Response[*users.CreateUploadResponseObject], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://rewards-api.getkard.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/issuers/%v/users/%v/uploads",
		organizationId,
		userId,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *users.CreateUploadResponseObject
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(users.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*users.CreateUploadResponseObject]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) CreatePart(
	ctx context.Context,
	organizationId kard.OrganizationId,
	// The ID of the user as defined on the issuers system
	userId string,
	// The upload ID identifying the upload session to add parts
	uploadId string,
	request *users.CreateUploadPartRequestObject,
	opts ...option.RequestOption,
) (*core.Response[*users.CreateUploadPartResponseObject], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://rewards-api.getkard.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/issuers/%v/users/%v/uploads/%v/parts",
		organizationId,
		userId,
		uploadId,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *users.CreateUploadPartResponseObject
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(users.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*users.CreateUploadPartResponseObject]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) Update(
	ctx context.Context,
	organizationId kard.OrganizationId,
	// The ID of the user as defined on the issuers system
	userId string,
	// The upload ID identifying the upload session to update
	uploadId string,
	request *users.UpdateUploadRequestObject,
	opts ...option.RequestOption,
) (*core.Response[*users.UpdateUploadResponseObject], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://rewards-api.getkard.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v2/issuers/%v/users/%v/uploads/%v",
		organizationId,
		userId,
		uploadId,
	)
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response *users.UpdateUploadResponseObject
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPut,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(users.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*users.UpdateUploadResponseObject]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
